
        
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    margin: 10px;
    padding: 10px;
    object-fit: cover;
    background: url("../../data/wallpaperflare.com_wallpaper\(8\).jpg") ;
    background-position: center;
    background-size: cover;
}

.header
{
    /* margin: 10px; */
    position: relative;
    width: 96%;
}

#head1
{
    padding-left: 30px;
    /* left: 1rem; */
    /* text-align:end; */
    font-size:5rem;
    font-weight: 500;
    font-style: italic;
    color:coral;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 5px;
    position: fixed;
}

.maintag
{
    padding-left: 13rem;
}

.contain1
{
    display: inline-block;
    background-color: blueviolet;
    margin-top: 2rem;
    padding: 0.3rem;
}

#todoinp1
{
    display: flex;
}

.inp_1
{
    height: 2rem;
    width: 25rem;
    margin-right:0.2rem ;
}

.btn_1
{
    height: 2rem;
    width: 5rem;
    margin-right: 0.2rem ;
    cursor: pointer;
    color: red;
}

.form-select
{
    height: 2rem;
    width: 10rem;
    margin-left:0.2rem ;
    margin-right:0.2rem ;
}

.contain2
{
    width: 70%;
    margin-left: 4rem;
    margin-top: 1.5rem;
    /* background-color: whitesmoke; */
}

.cmbtn
{
    font-weight: bold;
    cursor: pointer;
    background-color:cadetblue ;
    margin-right: 0.2rem;
}

.completed_btn
{
    text-decoration: line-through;
    opacity : .6;
}

.rmbtn
{
    font-weight: bold;
    cursor: pointer;
    background-color: chocolate;
}

.fall_btn
{
    transform: translateY(8rem) rotateZ(20deg) !important;
    opacity: 0 !important;
}

.containjsbtn
{
    display: flex;
    margin: 0.2rem;
    padding: 0.2rem;
}

.containjsbtn p
{
    margin: 0.2rem;
    padding: 0.2rem;
    width: 50%;
    font-size:1.1rem;
    color:black;
    font-weight: bold;
}

select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

